<div class="container">
  <%= flash[:notice]%>
  <h2 class="toppage-head">VTuber情報一覧 
    <%= link_to new_admin_vtuber_information_path do %>
      <i class="fa-solid fa-user-plus"></i>
    <% end %>
  </h2>
  <div class="row row-cols-1 row-cols-md-4 g-5">
    <% @vtuber_informations.each do |vtuber_information| %>
      <div class="col-sm-9 offset-sm-2 col-md-3 offset-md-0">
        <div class="card-link my-3">
          <div class="card my-3 mx-2">
            <%= link_to admin_vtuber_information_path(vtuber_information), style: "color: black;" do %>
              <% if vtuber_information.image.attached? %>
                <%= image_tag vtuber_information.image, size: "235x235" %>
              <% else %>
                <%= image_tag 'no_image', size: "235x235" %>
              <% end %>
              <div class="card-body">
                <h3 class="card-title"><%= vtuber_information.vtuber_name %></h3>
            <% end %>
                <p class="card-text"><%= vtuber_information.youtube_name %></p>
                <p class="card-text"><%= vtuber_information.twitter_name %></p>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row my-3">
    <div class="col-2 col-md-4 col-lg-5"></div>
    <div class="col-8 col-md-4"><%= paginate @vtuber_informations %></div>
  </div>
</div>
