<div class="container">  
  <div class="row">
    <div class="col-xs-3">
      <div class="vtuber_communities_index">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>VTuber一覧</th>
            </tr>
          </thead>
          <tbody>
          <% @vtuber_informations.each do |vtuber_information| %>
            <tr>
              <td>
                <%= link_to vtuber_community_path(vtuber_information_id: vtuber_information.id), method: :get do %>
                  <% if vtuber_information.image.attached? %>
                    <%= image_tag vtuber_information.image, size: "55x43" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "55x43" %>
                  <% end %>
                  <%= vtuber_information.vtuber_name %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-9">
      <h2 class="toppage-head">最新ニュース</h2>
      <% @news.each do |news| %>
      <%# タイムライン記事 %>
        <div class='new__box'>
          <%# ヘッダーブロック : 投稿日時 ------------------------------------ %>
          <div class='timeline__header timeline__table'>
            <small><%= news.created_at_ja %></small>
          </div>
          <%# メインブロック : プレビュー、ページ情報 etc ------------------------------- %>
          <div class='timeline__main'>
            <%# プレビュー %>
            <div class='timeline__preview-box'>
              <object>
                <div class='timeline__preview-background'>
                  <% if news.image.attached? %>
                    <%= image_tag news.image, size: "180x130" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "180x130" %>
                  <% end %>
                </div>
              </object>
            </div>
            <%# ページタイトル、紹介文、タグ %>
            <div class='timeline__information'>
              <%# ページタイトル %>
              <div class='timeline__news-title'><%= news.news_name %></div>
              <%# 紹介文 %>
              <div class='timeline__news-text'><%= news.news_introduction %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
		<div class="text-center"><%= paginate(@news) %></div>
    </div>
  </div>
</div>