<div class="card mb-3">
  <div class="card-body">
    <object>
      <div>
        <% if customer.image.attached? %>
          <%= image_tag customer.image, size: "80x80" %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: "80x80" %>
        <% end %>
        <span class='mx-1'><%= customer.name %></span>
      </div>
    </object>
    <p class="card-text ml-5 my-3"><%= customer.introduction %></p>
    <div class="row mb-4">
      <div class="col-md-4">フォロー数</div>
      <div class="col-md-1"><%= @customer.followings.count %></div>
      <div class="col-md-5">フォロワー数</div>
      <div class="col-md-1"><%= @customer.followers.count %></div>
    </div>
    <div>
      <%= link_to edit_admin_customer_path(customer), class:"btn btn-secondary btn-block w-100" do %>
        <i class="fas fa-user-edit"></i>
      <% end %>
    </div>
  </div>
</div>
<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>マイ推し</th>
      </tr>
    </thead>
    <tbody>
      <% like_vtuber_communities.each do |like_vtuber_community| %>
        <tr>
          <td>
            <%= link_to admin_vtuber_community_path(like_vtuber_community.vtuber_community_id), method: :get do %>
              <% if like_vtuber_community.vtuber_community.vtuber_information.image.attached? %>
                <%= image_tag like_vtuber_community.vtuber_community.vtuber_information.image, size: "55x55" %>
              <% else %>
                <%= image_tag 'no_image.jpg', size: "55x55" %>
              <% end %>
              <%= like_vtuber_community.vtuber_community.vtuber_information.vtuber_name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>