<div class="container">
  <div class="row py-3">
    <div class="col-12">
      <h1>会員一覧</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td style="width: 15%">
                <%= customer.id %>
              </td>
              <td style="width: 30%">
                <%= customer.name %>
              </td>
              <td style="width: 30%">
                <%= customer.email %>
              </td>
              <td style="width: 15%">
                <% if customer.is_deleted == false%>
                  <p>有効</p>
                <% else %>
                  <p>退会</p>
                <% end %>
              </td>
              <td style="width: 10%">
                <%= link_to 'user詳細', admin_customer_path(customer.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="col-8 col-md-4 my-3"><%= paginate @customers %></div>
    </div>
  </div>
</div>