<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'admin/customers/reft_line', customer: @customer, like_vtuber_communities: @like_vtuber_communities %>
    </div>
    <div class="col-8">
      <div>
        <label><%= link_to "投稿一覧", admin_customer_path, class:"btn btn-info" %></label>
        <label><%= link_to "コメント一覧", comment_admin_customers_path, class:"btn btn-info" %></label>
      </div>
      <h2>投稿一覧</h2>
      <div class='home__main'>
        <% @posts.each do |post| %>
          <div class="card mb-3 w-75 mx-auto">
            <div class="card-header bg-transparent">
              <object>
                <div>
                  <% if post.customer.image.attached? %>
                    <%= image_tag post.customer.image, size: "55x55" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "55x55" %>
                  <% end %>
                  <span class='mx-1'><%= post.customer.name %></span>
                  <small class='mx-1'><%= post.created_at.strftime('%Y/%m/%d') %></small>
                  <%= link_to admin_post_path(post.id), method: :delete, class: 'timeline__link-show', data: {confirm: "本当に削除しますか？"} do %>
                    <i class="far fa-trash-alt"></i>
                    <small class='timeline__text'>削除</small>
                  <% end %>
                </div>
              </object>
            </div>
            <div class="card-body">
              <p class="card-text"><%= post.introduction %></p>
              <p class="card-text"><%= post.category %></p>
              <div class="card-image">
                <% if post.image.attached? %>
                  <% post.image.each do |image| %>
                    <%= image_tag image.variant(resize: '150x150') %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="card-footer bg-transparent form-inline">
              <object>
                <div class="mr-3">
                  <%= link_to admin_post_path(post.id), class: 'postline__link-show' do %>
                    <i class="far fa-comment"></i>
                    <% if post.post_comments.count != 0 %>
                      <%= post.post_comments.count %>
                    <% end %>
                    <small class='postline__footer-text'>コメント</small>
                  <% end %>
                </div>
              </object>
              <div>
                ♡<%= post.post_bookmarks.count %>いいね
              </div>
            </div>
          </div>
        <% end %>
      <div class="text-center"><%= paginate(@posts) %></div>
      </div>
    </div>
  </div>
</div>