<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'admin/vtuber_communities/vtuber_community_each', vtuber_communities: @vtuber_communities %>
    </div>
    <div class="col-md-9">
      <h2 class="toppage-head">最新ニュース</h2>
      <div class='card mb-3 w-75 mx-auto'>
        <div class='card-body'>
          <%= form_with model: @new_news, url: admin_news_index_path do |f| %>
            <div class="form-group my-3">
              <%= f.text_field :news_name, placeholder: "ニュースタイトルを記入", class:"form-control w-100 input-introduction" %>
            </div>
            <div class="form-group my-3">
              <%= f.text_area :news_introduction, placeholder: "ニュース内容を記入", class:"form-control w-100 input-introduction" %>
            </div>
            <div>
              <label><i class="fa-solid fa-camera mx-3"></i> 画像を添付
                <%= f.file_field :image, accept: "image/*", class: 'news-new__image-field d-none' %>
              </label>
            </div>
            <%= f.submit "投稿する", class:"btn btn-success btn-block w-100"%>
          <% end %>
        </div>
      </div>
      <div class='home__main'>
        <% @news.each do |news| %>
          <div class="card mb-3 w-75 mx-auto">
            <div class="row no-gutters">
              <div class="col-md-4">
                <% if news.image.attached? %>
                  <%= image_tag news.image, size: "200x200" %>
                <% else %>
                  <%= image_tag 'no_image', size: "200x200" %>
                <% end %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <%= link_to admin_news_path(news.id), method: :delete, class: 'timeline__link-show', data: {confirm: "本当に削除しますか？"} do %>
                    <div class="text-right">
                      <i class="far fa-trash-alt"></i>
                      <small class='timeline__text'>削除</small>
                    </div>
                  <% end %>
                  <h5 class="card-title"><%= news.news_name %></h5>
                  <p class="card-text"><%= news.news_introduction %></p>
                  <p class="card-text"><small class="text-muted"><%= news.created_at.strftime('%Y/%m/%d') %></small></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <div class="text-center"><%= paginate(@news) %></div>
    </div>
  </div>
</div>