<% posts.each do |post| %>
  <div class="card mb-3 w-75 mx-auto">
    <div class="card-header bg-transparent">
      <object>
        <div>
          <%= link_to admin_customer_path(post.customer_id), method: :get do %>
            <% if post.customer.image.attached? %>
              <%= image_tag post.customer.image, size: "55x55" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "55x55" %>
            <% end %>
            <span class='mx-1'><%= post.customer.name %></span>
          <% end %>
          <small class='mx-1'><%= post.created_at.strftime('%Y/%m/%d') %></small>
          <%= link_to admin_post_path(post.id), method: :delete, class: 'timeline__link-show', data: {confirm: "本当に削除しますか？"} do %>
            <i class="far fa-trash-alt"></i>
            <small class='timeline__text'>削除</small>
          <% end %>
        </div>
      </object>
    </div>
    <div class="card-body">
      <p class="card-text"><%= post.introduction %></p>
      <p class="card-text"><%= post.category %></p>
      <div class="card-image">
        <% if post.image.attached? %>
          <% post.image.each do |image| %>
            <%= image_tag image.variant(resize: '200x200') %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="card-footer bg-transparent form-inline">
      <object>
        <div class="mr-3">
          <%= link_to admin_post_path(post.id), class: 'postline__link-show' do %>
            <i class="far fa-comment"></i>
            <% if post.post_comments.count != 0 %>
              <%= post.post_comments.count %>
            <% end %>
            <small class='postline__footer-text'>コメント</small>
          <% end %>
        </div>
      </object>
      <div>
        ♡<%= post.post_bookmarks.count %>いいね
      </div>
    </div>
  </div>
<% end %>
<%= paginate posts %>