<div class="container">
  <%= flash[:notice]%>
  <div class="row">
    <div class="col-12">
      <div class="card mb-3 w-75 mx-auto">
        <div class="card-header bg-transparent">
          <object>
            <div>
              <%= link_to admin_customer_path(@post.customer_id), method: :get do %>
                <% if @post.customer.image.attached? %>
                  <%= image_tag @post.customer.image, size: "55x55" %>
                <% else %>
                  <%= image_tag 'no_image.jpg', size: "55x55" %>
                <% end %>
                <span class='mx-1'><%= @post.customer.name %></span>
              <% end %>
              <small class='mx-1'><%= @post.created_at.strftime('%Y/%m/%d') %></small>
            </div>
          </object>
        </div>
        <div class="card-body">
          <p class="card-text"><%= @post.introduction %></p>
          <p class="card-text"><%= @post.category %></p>
          <div class="card-image">
            <% if @post.image.attached? %>
              <% @post.image.each do |image| %>
                <%= image_tag image.variant(resize: '300x300') %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="card-footer bg-transparent form-inline">
          <object>
            <div class="mr-3">
              <i class="far fa-comment"></i>
              <% if @post.post_comments.count != 0 %>
                <%= @post.post_comments.count %>
              <% end %>
              <small class='postline__footer-text'>コメント</small>
            </div>
          </object>
          <div>
            ♡<%= @post.post_bookmarks.count %>いいね
          </div>
        </div>
      </div>
      <span>
        <% @post.post_comments.each do |post_comment| %>
          <div class="card mb-3 w-75 mx-auto">
            <div class="card-header bg-transparent">
              <object>
                <div>
                  <%= link_to admin_customer_path(post_comment.customer_id), method: :get do %>
                    <% if post_comment.customer.image.attached? %>
                      <%= image_tag post_comment.customer.image, size: "55x55" %>
                    <% else %>
                      <%= image_tag 'no_image.jpg', size: "55x55" %>
                    <% end %>
                    <span class='mx-1'><%= post_comment.customer.name %></span>
                  <% end %>
                  <small class='mx-1'><%= post_comment.created_at.strftime('%Y/%m/%d') %></small>
                  <small class='mx-3'>
                    <%= link_to admin_post_comment_path(post_comment.id), method: :delete, class: 'comment__delete', remote: true do %>
                      削除
                    <% end %>
                  </small>
                </div>
              </object>
            </div>
            <div class="card-body">
              <p class="card-text"><%= post_comment.comment %></p>
            </div>
          </div>
        <% end %>
      </span>
    </div>
  </div>
</div>