<div class="container"> 
  <div class="row">
    <div class="col-12 col-md-8 mx-auto py-5">
      <h2 class="head-line title_h2 text-left">新規会員登録</h2>

　　  <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
  
        <div class="form-group my-5">
          <%= f.label :"ユーザー名", class: "col-sm-4 control-label" %>
          <%= f.text_field :name, autofocus: true, class: "col-sm-4 form-control-static name" %>
        </div>
  
      <div class="form-group my-5">
        <%= f.label :"メールアドレス", class: "col-sm-4 control-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6 form-control-static" %>
      </div>

      <div class="form-group my-5">
        <%= f.label :"パスワード(6文字以上)", class: "col-sm-4 control-label" %>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-sm-4 form-control-static" %>
      </div>

      <div class="form-group my-5">
        <%= f.label :"パスワード(確認用)", class: "col-sm-4 control-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-4 form-control-static" %>
      </div>

      <div class="form-group my-5">
        <%= f.submit "新規登録",class: 'btn btn-success btn-lg col-sm-4' %>
      </div>
      
    <% end %>
    
    <div class="col-xs-9">
      <h2 class="head-line title_h2 text-left">既に登録済みの方</h2>
      <p class="new-link"><%= render "public/shared/links" %>からログインしてください。</p>
    </div>
  </div>
</div>
</div>