<div class="container">
  <div class="row py-3">
    <div class="col-12">
      <h1>コメント一覧</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>ユーザー名</th>
            <th>ツイートID</th>
            <th>コメント</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
           <% @post_comments.each do |post_comment| %>
            <tr>
              <td style="width: 10%">
                <%= post_comment.id %>
              </td>
              <td style="width: 20%">
                <%= link_to admin_customer_path(post_comment.customer.id) do %>
                  <%= post_comment.customer.name %>
                <% end %>
              </td>
              <td style="width: 10%">
                <%= link_to admin_post_path(post_comment.post.id) do %>
                  <%= post_comment.post.id %>
                <% end %>
              </td>
              <td style="width: 50%">
                <%= post_comment.comment %>
              </td>
              <td style="width: 10%">
                <%= link_to admin_post_comment_path(post_comment.id), method: :delete, class: 'timeline__link-show', data: {confirm: "本当に削除しますか？"} do %>
                  <i class="far fa-trash-alt"></i>
                  <small class='timeline__text'>削除</small>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="col-8 col-md-4 my-3"><%= paginate @post_comments %></div>
    </div>
  </div>
</div>