<div class="container"> 
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mx-auto py-5">
      <h5 class="head-line title_h2 text-left">ログイン</h5>

      <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
        <div class="field form-group my-5">
          <%= f.label :"メールアドレス", class: "col-sm-5 control-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6 form-control-static" %>
        </div>

        <div class="field form-group my-5">
          <%= f.label :"パスワード(6文字以上)", class: "col-sm-5 control-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-6 form-control-static" %>
        </div>

        <div class="actions form-group my-5">
          <%= f.submit "ログインする", class: "btn btn-success btn-lg col-xs-4" %>
        </div>
      <% end %>
      <div class="col-xs-18">
        <h5 class="head-line title_h2 text-left">まだ会員登録をしていない方</h5>
        <p><%= render "public/shared/links" %>から新規登録を行ってください。</p>
      </div>
    </div>
  </div>
</div>