<div class="container"> 
<div class="row">
<div class="col-xs-offset-1 col-xs-18">
<h5 class="head-line title_h2 text-left">ログイン</h5>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group col-xs-18">
    <%= f.label :"メールアドレス", class: "col-sm-5 control-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-6 form-control-static" %>
  </div>

  <div class="field form-group col-xs-18">
    <%= f.label :"パスワード", class: "col-sm-4 control-label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-6 form-control-static" %>
  </div>

  <div class="actions col-xs-18 pull-right">
    <%= f.submit "ログインする", class: "btn btn-success btn-lg col-xs-4" %>
  </div>
<% end %>
<div class="col-xs-18">
<h5 class="head-line title_h2 text-left">まだ会員登録をしていない方</h5>
<p><%= render "public/shared/links" %>から新規登録を行ってください。</p>
</div>
</div>
</div>
</div>