<!DOCTYPE html>
<html>
  <head>
    <title>World_Of_VTuber</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/63dfe39e70.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg ">
      <div class="container">
      <nav class="navbar-brand">
        <% if admin_signed_in? %>
          <%= link_to admin_root_path do %>
            <%= image_tag "preview.png", height: "150px" %>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <%= image_tag "preview.png", height: "150px" %>
          <% end %>
        <% end %>
    　</nav>

    　<div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
          <li class="nav-link text-light">
            <%= link_to "マイページ", user_path(current_customer) %>
          </li>
          <li class="nav-link text-light">
            <%= link_to "VTuber情報一覧", vtuber_informations_path %>
          </li>
          <li class="nav-link text-light">
            <%= link_to "コミュニティ", vtuber_communities_path %>
          </li>
          <li class="nav-link text-light">
            <%= link_to notifications_path do %>
              <% if unchecked_notifications.any? %>
                <span class="fa-stack">
                  <i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i>
                  <i class="fas fa-circle n-circle fa-stack-1x"></i>
                </span>
              <% else %>
                <i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i>
              <% end %>
            <% end %>
          </li>
          <% elsif admin_signed_in? %>
          <li class="nav-link text-light">
            <%= link_to "VTuber情報一覧", admin_vtuber_informations_path %>
          </li>
          <li class="nav-link text-light">
            <%= link_to "会員一覧", admin_customers_path %>
          </li>
          <li class="nav-link text-light">
            <%= link_to "コミュニティ", admin_vtuber_communities_path %>
          </li>
          <li class="nav-link text-light">
            <%= link_to "コメント一覧", admin_post_comments_path %>
          </li>
          <li class="nav-link text-light">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>
          <% else %>
          <li class="nav-link text-light">
            <%= link_to "About", about_path %>
          </li>
          <li class="nav-link text-light">
            <%= link_to "新規登録", new_customer_registration_path %>
          </li>
          <li class="nav-link text-light">
            <%= link_to "ログイン", new_customer_session_path %>
          </li>
          <% end %>
        </ul>
      </div>
      </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
